.facilities {
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.general {
    width: auto;
    height: auto;
    margin-top: 5px;
}

.general h3 {
    color: #0276f7;
    text-align: center;
}

.general ul {
    background: #ffffff;
}

.general ul li {
  background: #cce5ff;
  margin: 5px;
}