.about {
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.about h2 {
    color: #0276f7;
}

.image {
  width: auto;
  height: auto;
  margin-top: 5px;
}

.text {
    width: auto;
    height: auto;
    margin-top: 10px;
    /* size: 30px; */
    text-align: justify;
    font-size: 20px;
    /* text-size-adjust: inherit; */
}